body {
    background: #adeaf352;
}
header{
    top: 10px;
    position: sticky;
}
.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: none;
}

button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    touch-action: auto;
    color: white;

}

button:nth-child(1) {
    background: blue;
}

button:nth-child(2) {
    background: #ff0000;
}

#logo {
    display: flex;
    justify-content: space-between;
    width: 210px;
    height: 10vh;
}

#logo_img {
    border-radius: 10px;
    padding: 5px;
    box-shadow: #f54c2a40 0px 50px 100px -20px, #f136364d 0px 30px 60px -30px, #0668cbbc 0px -2px 6px 0px inset;
}

.logo_text {
    font-weight: bold;
    color: red;
}

h1>span {
    color: blue;
}

.title>p {
    font-weight: bold;
    margin: -50px;
    padding-left: 55px;
    padding-top: 10px;
}

#input {
    padding: 5px;
}

.image_shop {
    margin-top: 2%;
    margin-left: 3.1%;
    width: 100%;
    height: 100vh;
    background-image: url(../img/shop.png);
    background-repeat: no-repeat;
}